---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>La Maison</title>
	</head>
	<body>
		<div class="w-screen h-screen grid place-items-center">
			<img src="/lamaison-logo.jpg" alt="La Maison" class="w-full lg:w-1/2" />
		</div>
	</body>
</html>
