---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>La Maison</title>
	</head>
	<body>
		<div style="margin:auto;top:1em;position:absolute;width:100%;text-align:center;font-size:125%;">
			<p><strong>Vi har åpent hus mandag 1. mai fra kl. 12-15, hjertelig velkommen til litt franske smaker og bobler!</strong></p>
			<p>Vi har åpent tirsdag til lørdag fra kl. 16.</p>
			<p>
				<a href="https://goo.gl/maps/u6Q2WctyNanjCquN7" target="_blank">Sandesundsveien 2, Sarpsborg</a>
				&bull;
				Epost <a href="mailto:post@la-maison.no">post@la-maison.no</a>
				&bull;
				Tlf: <a href="tel:91758633">91758633</a>
				&bull;
				<a href="https://booking.gastroplanner.no/Lamaison/t" target="_blank">Reserver bord</a>
			</p>
			<p><em>Bienvenue!</em></p>
		</div>
		<div class="w-screen h-screen grid place-items-center">
			<img src="/lamaison-logo.jpg" alt="La Maison" class="w-full lg:w-1/2" />
		</div>
	</body>
</html>
