---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>La Maison</title>
	</head>
	<body>3
		<div style="margin:auto;top:1em;position:absolute;width:100%;text-align:center;font-size:110%;font-family:georgia;">
			<!--<p><em>Vi har åpent tirsdag til lørdag fra kl. 16.</em></p>-->
			<p><em>Vi har sommerstengt og åpner igjen onsdag 2. august.<br/>Hjertelig velkommen!</em></p>
			<p><strong>Bienvenue!</strong></p>
			<p style="font-weight:bold;font-size:100%;">
				&gt; <a href="https://booking.gastroplanner.no/Lamaison/t" target="_blank" title="Reserver bord online" style="border-bottom:1px solid #999;">Reserver bord</a> &lt;
   			</p>
		</div>
		<div class="w-screen h-screen grid place-items-center">
			<img src="/lamaison-logo.jpg" alt="La Maison" class="w-full lg:w-1/2" />
		</div>
		<div style="margin:auto;bottom:1em;position:absolute;width:100%;text-align:center;font-size:110%;font-family:georgia;">
			<p>
				<a style="border-bottom:1px solid #999;" target="_blank" href="la_maison_meny_01_08_2023.pdf">Last ned meny</a>
				&bull;
				<a style="border-bottom:1px solid #999;" target="_blank" href="https://givn.no/shop/la-maison">Kjøp gavekort</a>
			</p>
			<p>
				<a href="https://goo.gl/maps/u6Q2WctyNanjCquN7" target="_blank" title="Åpne i Google Maps" style="border-bottom:1px solid #999;">Sandesundsveien 2, Sarpsborg</a>
				&bull;
				Epost: <a href="mailto:post@la-maison.no" title="Send oss en epost!" style="border-bottom:1px solid #999;">post@la-maison.no</a>
				&bull;
				Tlf: <a href="tel:48916917" title="Ring oss gjerne!" style="border-bottom:1px solid #999;">48 91 69 17</a>
			</p>
		</div>
	</body>
</html>
